.search-input {
    margin: auto;
    display: block;
    width: 100%;
    font-size: 16px;
    padding: 5px 10px;
    margin-bottom: 30px;
}

.post-container {
    max-width: 800px;
    margin:auto;
    margin-bottom: 50px;
}

.post-container h2 {
    font-size: 28px;
    color: #1f2937;
}

.post-container h2:hover {
    text-decoration: underline;
}

.post-container .read-more {
    font-size: 16px;
    color: rgb(79, 127, 193);
}

.post-info {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.post-info .author-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.author-info img {
    border-radius: 50%;
    width: 30px;
}

.author-info .user-name {
    width: 200px;
}

.skeleton-btn {
    width: 100px;
}