.postForm {
    width: 100%;
    margin: auto;
}

.postForm label {
    display:block;
    width: max-content;
    font-size: 14px;
    margin-top: 8px;
    font-weight: bold;
    padding: 5px 10px;
    background-color: rgb(154, 174, 174);
}

.postForm input,
.postForm textarea {
    width: 100%;
    font-size: 14px;
    border: none;
    padding: 8px;
    background-color: rgb(227, 239, 239);
}

.postForm input:focus,
.postForm textarea:focus {
    outline: none;
}

button {
    font-weight: bold;
    color: white;
    background-color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    overflow: hidden;
}

.postForm .formBtns {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 5px;
}

.formBtns .cancel {
    background-color: #2873ff;
}

.formBtns .post {
    background-color: red;
}