.postForm {
    width: 100%;
    margin: auto;
}

.postForm h1 {
    font-size: 24px;
    padding-bottom: 20px;
}

.postForm label {
    display: block;
    font-size: larger;
    font-weight: bolder;
}

.postForm input,textarea {
    margin:10px 0;
    width: 100%;
    font-size: 14px;
    padding: 8px;
}

button {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    background-color: #171717;
    padding: 10px 20px;
    border: none;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
  
button span:not(:nth-child(6)) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 30px;
    width: 30px;
    background-color: #0c66ed;
    border-radius: 50%;
    transition: .6s ease;
}
  
button span:nth-child(6) {
    position: relative;
}
  
button span:nth-child(1) {
    transform: translate(-3.3em, -4em);
}
  
button span:nth-child(2) {
    transform: translate(-6em, 1.3em);
}
  
button span:nth-child(3) {
    transform: translate(-.2em, 1.8em);
}
  
button span:nth-child(4) {
    transform: translate(3.5em, 1.4em);
}
  
button span:nth-child(5) {
    transform: translate(3.5em, -3.8em);
}
  
button:hover span:not(:nth-child(6)) {
    transform: translate(-50%, -50%) scale(4);
    transition: 1.5s ease;
}   