.navbar {
    padding:15px 0;
    width: 100%;
    margin:auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: cadetblue;
}

.logo:hover {
    text-decoration: underline;
}

.nav_list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.nav_list a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 16px;
    transition:all 0.3s;
}

.nav_list a:hover {
    color: #ffcc00;
}

.navbar svg {
    transition: all 0.2s ease-in-out;
}

.navbar svg:hover {
    transform: rotate(45deg);
}